.App {
  text-align: center;
}
.App h1, h3 {
  color: #380e5a;
  font-family: 'Montaga', serif;
}
.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #bea2d2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display: grid;
  color: #380e5a;
}

.login-sub-container button, .VineyardInfoBox-Buttons button {
  margin-top: 1em;
  box-shadow:inset 0px 1px 0px 0px #e184f3;
  background-color: #af15cb;
  border-radius:6px;
  border:1px solid #a511c0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9b14b3;
}

.login-sub-container button:hover, .VineyardInfoBox-Buttons button:hover {
  background-color: #790590;
}
.login-sub-container button:active  {
  position:relative;
  top:1px;
}

.login-container button {
  margin-top: 1em;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}
.login-container button:hover {
  background-color:#5cb811;
}
.login-container button:active {
  position:relative;
  top:1px;
}
.login-sub-container {
  display: grid;
}

.login-sub-container .psw {
  color: #380e5a;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#remember {
  margin-top: 10px;
}

.Vineyards {
  border: white;
  border-style: solid;
  padding: 5px;
  background: white;
  border-radius: 35px;
  margin: 10px;
  box-shadow: 0px 17px 39px 5px rgba(70, 9, 97, 0.58);
  animation: fadeIn ease 3s;
}

.VineyardInfoBox{
    border: white;
    border-style: solid;
    padding: 5px;
    background: white;
    border-radius: 35px;
    margin: 5px;
    box-shadow: 0px 17px 39px 5px rgba(70, 9, 97, 0.58);
}

.VineyardInfoBox h2 {
  color: #380e5a;
  font-family: 'Montaga', serif;
  float: left;
  margin-top: 0;
  margin-right: 1em;
  margin-bottom: 10px;
}

.VineyardInfoBox-Buttons {
  float: right;
}

.VineyardInfoBox-Buttons button {
  margin: 0.3em;
}

.VineyardInfoBox-Buttons button:active {
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}

.VineyardInfoBox-Header {
  margin: 10px;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.VineyardBox {
  float: left;
  width: 31.81%;
  color: black;
  box-shadow: 0px 17px 39px 5px rgba(0,0,0,0.56);
  border-radius: 35px;
  margin: 10px;
  transition: transform 0.5s, background 0.5s ease-in, color 0.4s ease-in;
}

.VineyardBox:hover {
  transform: scale(1.05);
  background: #380e5a;
  color: white;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.56);
}

.VineyardBox-Img {
  width: 100%;
  height: 50%;
}

.VineyardBox-Img img{
  width: 100%;
  height: 250px;
  border-radius: 35px 35px 1px 1px;
}

.VineyardBox-Text {
    font-family: 'Montaga', serif;
    height: 50%;
}

#VineyardName {
    font-size: 1.3em;
}

#CompanyName {
    animation: fadeIn ease 3s;
}

#map {
  border-radius: 35px;
}

.leaflet-bar a:last-child {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.leaflet-bar a:first-child {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.leaflet-top, .leaflet-left {
  margin-top: 10px;
}

.BackButton {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  margin: 5px;
  margin-top: 10px;
  /*float: left; /* keep left or center???? */
}
.BackButton:hover {
  background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color:#468ccf;
}
.BackButton:active {
  position:relative;
  top:1px;
}

/* Tablets */
@media screen and (max-width: 769px) and (min-width: 601px) {
  .VineyardInfoBox-Header {
    margin: 0;
    display: grid;
  }

  .VineyardInfoBox-Header h2 {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .VineyardInfoBox-Buttons {
      margin-bottom: 10px;
  }

  .BackButton {
    float: none;
  }

  .VineyardBox {
    margin: 5.5px;
  }
}

@media screen and (max-width: 600px) {
    .VineyardBox {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .VineyardBox:hover {
        transform: scale(1.01);
    }

    .VineyardInfoBox {
        display: grid;
    }

    .VineyardInfoBox h2 {
        margin: 0.8em;
        float: none;
    }
}